/*.bz2
/*.gz
/*.sig
/BidiBrackets.txt
/BidiMirroring.txt
/BidiTest.txt
/Categories.txt
/DerivedBidiClass.txt
/EastAsianWidth.txt
/GraphemeBreakProperty.txt
/INSTALL
/Scripts.txt
/LineBreak.txt
/LineBreakTest.txt
/UnicodeData.txt
/Unihan.zip
/WordBreakProperty.txt
/WordBreakTest.txt
/emoji-data.txt
/biditest
/config.cache
/config.guess
/config.sub
/courier-unicode.h
/courier-unicode.spec
/depcomp
/docs.stamp
/enttest
/graphemetest
/html
/install-sh
/linebreaktest
/ltmain.sh
/man
/missing
/rpm
/rpm.release
/scripttest
/unicode_config.h
/unicode_config.h.in
/unicodetest
/wordbreaktest
/xhtml-lat1.ent
/xhtml-special.ent
/xhtml-symbol.ent
