/*.bz2
/*.gz
/*.sig
/EastAsianWidth.txt
/GraphemeBreakProperty.txt
/INSTALL
/LineBreak.txt
/LineBreakTest.txt
/UnicodeData.txt
/Unihan.zip
/WordBreakProperty.txt
/WordBreakTest.txt
/config.cache
/config.guess
/config.sub
/courier-unicode.spec
/depcomp
/enttest
/graphemetest
/html
/install-sh
/linebreaktest
/ltmain.sh
/man
/missing
/rpm
/rpm.release
/unicode_config.h
/unicode_config.h.in
/unicodetest
/wordbreaktest
/xhtml-lat1.ent
/xhtml-special.ent
/xhtml-symbol.ent
