/README.maildirquota.txt
/README.sharedfolders.txt
/autoresponsequota.h
/deliverquota
/deliverquota.8
/deliverquota.8.in
/deliverquota.html
/deliverquota.html.in
/mailbot.h
/maildir.5
/maildir.html
/maildiracl
/maildiracl.1
/maildiracl.1.in
/maildiracl.html
/maildiracl.html.in
/maildiraclttest
/maildirfilterconfig.h
/maildirkw
/maildirkw.1
/maildirkw.html
/maildirkwtest
/maildirmake
/maildirmake.1
/maildirmake.1.in
/maildirmake.html
/maildirmake.html.in
/maildirquota.7
/maildirquota.html
/maildirsharedrc.h
/maildirwatch
/maildirwatch.1
/maildirwatch.html
/quotawarnmsg.h
/sharedindexinstall
/sharedindexsplit
/testmaildirfilter
/testmaildirsearch
