/BUGS
/SECURITY
/TIMEZONELIST
/TODO
/cleancache.pl
/htmllibdir.h
/ldapaddressbook.dist
/ldapsearch
/sendit.sh
/showmsg2html
/sqwebmail
/sqwebmaild
/sqwebmaild.dist
/sqwebpasswd
/testhtml
/webgpg
/webmail.authpam
