/BUGS
/SECURITY
/TIMEZONELIST
/TODO
/cleancache.pl
/cron.cmd
/htmllibdir.h
/ldapaddressbook.dist
/ldapsearch
/selinux
/sendit.sh
/showmsg2html
/sqwebmail
/sqwebmail.msg
/sqwebmaild
/sqwebmaild.dist
/sqwebmaild.dist.in
/sqwebpasswd
/testhtml
/testlogindomainlist
/webgpg
/webmail.authpam
